*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #202424;
    --text-color: #ffff;
    --icon-color: #ffff;
    --btn-color: #ffff;
    --btn-default-bg: #575353;
    --btn-default-hover: #403c3c;
    --btn-as-bg: #e09ce4;
    --btn-as-hover: #d094d4;
    --btn-special-bg: #403c3c;
    --btn-special-hover: #575353;
    --font-family: 'Segoe UI', Tahoma, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: var(--font-family);
}
.container{
    background-color: var(--bg-color);
    width: 300px;
    height: 500px;
    border-radius: 20px;
    box-shadow: #202424;
}
.display{
    color: var(--text-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.numberResult{
    color: #585858;
    font-size: 1.6rem;
}
.numberalCulator{
    color: var(--text-color);
    font-size: 2.8rem;
}
.container-btn{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    margin: 2px;
}
.container button {
    width: 100%;
    height: 65px;
    border-radius: 5px;
    border: none;
    margin-top: 2PX;
    color: var(--btn-color);
}
.btn-number{
    background-color: var(--btn-default-bg)
}

.btn-number:hover{
    background-color: var(--btn-default-hover)
}
.btn-special{
    background-color: var(--btn-special-bg);
}
.btn-special:hover{
    background-color: var(--btn-special-hover);
}
.btn-as{
    background-color: var(--btn-as-bg);
}
.btn-as:hover{
    background-color: var(--btn-as-hover);
}
.btn-clear ,.btn-del{
    background-color: var(--btn-special-bg);
}
.btn-clear ,.btn-del{
    background-color: var(--btn-special-hover);
}

